* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Space Grotesk';
    background-color: #F2F2F2;
}

.containerMenu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.info {
    padding-left: 20px;
}

main {
    text-align: center;
    padding-top: 50px;
    height: 100vh;
    color: #3F3F3F;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #FFD91E;
}

li {
    margin-top: 30px;
}

h1 {
    font-size: 50px;
    letter-spacing: 5px;
}

ul {
    list-style: none;
    width: 500px;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

li {
    background: white;
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    transition: 0.3s;
}

li:hover {
    transform: translateY(-3px);
}
