input {
    border-radius: 3px;
}

input:focus {
    border: 2px solid black;
    outline: none;             
}

button {
    background-color: green;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    margin-top: 15px;
}

button:hover {
    background-color: red;
}